.student-container {
  
  width: 80%;
  margin: 5rem auto 40px 100px;
  padding: 25px;
  background: #f4fcfb;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.student-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00897B;
}

.student-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #023d2b;
}

.student-input:focus {
  border-color: #036353;
  outline: none;
}

.add-btn {
  padding: 10px 15px;
  background-color: #00897B;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.add-btn:hover {
  background-color: #02645a;
}

.student-list {
  margin-top: 25px;
}

.student-card {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 1px solid #eee;
}

.student-card strong {
  color: #00897B;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.empty-text {
  color: gray;
}

@media (max-width: 600px) {
  .student-container {
    position: absolute;
    right: 40px;
  }
}
