.input {
  width: 90%;
  padding: 0.9rem 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.2s ease;
}

.input:focus {
  box-shadow: 10px 7px 10px rgba(0, 137, 123, 0.25);
}
