.dashboard-container {
  max-width: 1000px;
  margin: 5rem auto 40px auto;
  padding: 25px;
}

.dashboard-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #00897B;
}

/* Grid Layout */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  gap: 20px;
}

/* Cards */
.dashboard-card {
  background: #ddf7f3;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.2s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  background: #e0f2f1;
}

.dashboard-card h3 {
  margin-bottom: 10px;
  color: #004D40;
}

.dashboard-card p {
  font-size: 28px;
  font-weight: bold;
  color: #00897B;
}

/* Tablet */
@media (max-width: 992px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}
